In [1]:
import pyodbc
import pandas as pd
import os

In [2]:
connection = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=KAMAL\SQLEXPRESS;"
                      "Database=SampleStoreDb;"
                      "Trusted_Connection=yes;"
)

df = pd.read_sql_query("select * FROM SampleStoreDb.dbo.Orders$ ", connection)

C:\Users\mohan\AppData\Local\Temp\ipykernel_30140\1413596377.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("select * FROM SampleStoreDb.dbo.Orders$ ", connection)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         65535 non-null  float64
 1   Order ID       65535 non-null  object
 2   Order Date     65535 non-null  datetime64[ns]
 3   Ship Date      65535 non-null  datetime64[ns]
 4   Ship Mode      65535 non-null  object
 5   Customer ID    65535 non-null  object
 6   Customer Name  65535 non-null  object
 7   Segment        65535 non-null  object
 8   Country        65535 non-null  object
 9   City           65535 non-null  object
 10  State          65535 non-null  object
 11  Postal Code    65467 non-null  float64
 12  Region         65535 non-null  object
 13  Product ID     65535 non-null  object
 14  Category       65535 non-null  object
 15  Sub-Category   65535 non-null  object
 16  Product Name   65535 non-null  object
 17  Sales          65535 non-null  float64
 18  Quantity       65535 non-null  float64
 19  Discount       65535 non-null  float64
 20  Profit         65535 non-null  float64
dtypes: datetime64[ns](2), float64(6), object(13)
memory usage: 10.5+ MB

In [4]:
ls = df['State'].unique()
ls

array(['North Carolina', 'Massachusetts', 'Texas', 'Pennsylvania',
       'Colorado', 'Rhode Island', 'Illinois', 'California', 'Florida',
       'Georgia', 'Tennessee', 'New Mexico', 'New York', 'Louisiana',
       'Washington', 'Oklahoma', 'Arizona', 'Montana', 'Missouri',
       'Michigan', 'Indiana', 'South Carolina', 'Delaware', 'Arkansas',
       'Maryland', 'Virginia', 'Vermont', 'Wisconsin', 'Minnesota',
       'Ohio', 'Nebraska', 'Kansas', 'Oregon', 'Utah', 'Kentucky',
       'Connecticut', 'Nevada', 'Alabama', 'New Jersey', 'Iowa',
       'South Dakota', 'Idaho', 'Mississippi', 'New Hampshire',
       'North Dakota', 'Maine', 'Wyoming', 'West Virginia',
       'District of Columbia'], dtype=object)

In [6]:
base_dir = r"D:\Shared\reports"
for x in ls:
    print(base_dir + "\\" + x)
    folders = base_dir + "\\" + x
    if not os.path.exists(folders):
        os.makedirs(folders)
    df[df['State'] == x].to_excel("{}\{}.xlsx".format(folders, x), sheet_name=x, index=False)
    print("{} file saved", x)

D:\Shared\reports\North Carolina
{} file saved North Carolina
D:\Shared\reports\Massachusetts
{} file saved Massachusetts
D:\Shared\reports\Texas
{} file saved Texas
D:\Shared\reports\Pennsylvania
{} file saved Pennsylvania
D:\Shared\reports\Colorado
{} file saved Colorado
D:\Shared\reports\Rhode Island
{} file saved Rhode Island
D:\Shared\reports\Illinois
{} file saved Illinois
D:\Shared\reports\California
{} file saved California
D:\Shared\reports\Florida
{} file saved Florida
D:\Shared\reports\Georgia
{} file saved Georgia
D:\Shared\reports\Tennessee
{} file saved Tennessee
D:\Shared\reports\New Mexico
{} file saved New Mexico
D:\Shared\reports\New York
{} file saved New York
D:\Shared\reports\Louisiana
{} file saved Louisiana
D:\Shared\reports\Washington
{} file saved Washington
D:\Shared\reports\Oklahoma
{} file saved Oklahoma
D:\Shared\reports\Arizona
{} file saved Arizona
D:\Shared\reports\Montana
{} file saved Montana
D:\Shared\reports\Missouri
{} file saved Missouri
D:\Shared\reports\Michigan
{} file saved Michigan
D:\Shared\reports\Indiana
{} file saved Indiana
D:\Shared\reports\South Carolina
{} file saved South Carolina
D:\Shared\reports\Delaware
{} file saved Delaware
D:\Shared\reports\Arkansas
{} file saved Arkansas
D:\Shared\reports\Maryland
{} file saved Maryland
D:\Shared\reports\Virginia
{} file saved Virginia
D:\Shared\reports\Vermont
{} file saved Vermont
D:\Shared\reports\Wisconsin
{} file saved Wisconsin
D:\Shared\reports\Minnesota
{} file saved Minnesota
D:\Shared\reports\Ohio
{} file saved Ohio
D:\Shared\reports\Nebraska
{} file saved Nebraska
D:\Shared\reports\Kansas
{} file saved Kansas
D:\Shared\reports\Oregon
{} file saved Oregon
D:\Shared\reports\Utah
{} file saved Utah
D:\Shared\reports\Kentucky
{} file saved Kentucky
D:\Shared\reports\Connecticut
{} file saved Connecticut
D:\Shared\reports\Nevada
{} file saved Nevada
D:\Shared\reports\Alabama
{} file saved Alabama
D:\Shared\reports\New Jersey
{} file saved New Jersey
D:\Shared\reports\Iowa
{} file saved Iowa
D:\Shared\reports\South Dakota
{} file saved South Dakota
D:\Shared\reports\Idaho
{} file saved Idaho
D:\Shared\reports\Mississippi
{} file saved Mississippi
D:\Shared\reports\New Hampshire
{} file saved New Hampshire
D:\Shared\reports\North Dakota
{} file saved North Dakota
D:\Shared\reports\Maine
{} file saved Maine
D:\Shared\reports\Wyoming
{} file saved Wyoming
D:\Shared\reports\West Virginia
{} file saved West Virginia
D:\Shared\reports\District of Columbia
{} file saved District of Columbia